// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.c-c {
  background-color: #f2f3f5;
  min-height: 30px;
  width: 420px;
  border: 1px solid #dddfe2;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
 
}
.c-ta {
  width: 380px;
  height: 20px;
  margin: 0 auto;
  font-size: 14px;
  background: transparent;
  border: none;
  resize: none;
  outline: none;
}