// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.c-c {
  background-color: #f2f3f5;
  min-height: 30px;
  width: 420px;
  border: 1px solid #dddfe2;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 10px;
  position: relative;
}
.ci-i-b {
  word-wrap: break-word;
  background-color: #f2f3f5;
  min-width: 100px;
  max-width: 400px;
  border: none;
  border-radius: 15px;
  padding: 8px 10px;
  font-size: 13px;
  font-weight: 300;
  position: relative;
}
.ci-i-c {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 500px;
}
.ci-c {
  width: 500px;
  background: white;
}
.ci-nl {
  // display: inline-block;
  max-width: 200px;
  text-decoration: none;
  color: #4267b2;
  font-size: 13px;
  font-weight: 500;
  margin-right: 4px;
}
.ci-nl:hover {
  text-decoration: underline #4267b2;
}
.c-ta {
  width: 380px;
  height: 20px;
  font-size: 14px;
  background: transparent;
  border: none;
  resize: none;
  outline: none;
}
.com-dd {
  position: relative;
}
.com-dd-c {
  /* display: none; */
  position: absolute;
  /* float: right; */
  right: 0;
  top: 18px;
  min-width: 80px;
  min-height: 50px;
  border: 1px solid #dddfe2;
  border-radius: 2px;
  z-index: 2;
  background-color: white;
  box-shadow: 0 1px 1px 1px #ccd0d5;
}
.com-dd-i {
  display: flex;
  // justify-content: space-between;
  background: white;
  padding: 8px;
  font-size: 12px;
}
.com-dd-i:hover {
  background-color: #4267b2;
  color: white;
}
.com-dd-p {
  height:15px;
  width: 15px;
  margin-right: 3px;
}

.comment-cont {
  display: flex;
  // align-items: center;
  width: 460px;
  margin: 10px;

}
.comment-cancel {
  // position: absolute;
  // top: 30px;
  margin-left: 20px;
  font-size: 10px;
  color: #4267b2;
}
.comment-cancel:hover {
  cursor: pointer;
  // text-decoration: 
}
.comment-edit {
  margin-bottom: 0;
}
.comment-edit-cont {
  display: flex;
  align-items: flex-start;
  width: 500px;
  margin: 10px;
}

.comment-button {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  margin-left: 15px;
}
.comment-form {
  display: inline-block;
}
.comment-body {
  word-wrap: break-word;
}
.file-submit-button {
  display: none;
}
.comment-file-submit-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.post-footer-cont{
  background: white;
  padding: 10px;
  border: 0 1px solid #dddfe2;
}
.comment-photo-preview-cont {
  width: 400px;
  background: white;
  padding: 10px;
  border: 1px solid #dddfe2;
}
.comment-photo-preview{
  width: 100%;
  height: 100%;
}
.comment-photo-preview-wrap {
  position: relative;
  max-width: 80px;
  max-height: 80px;
}

.comment-photo-x-cancel {
  position: absolute;
  right: 10px;
  z-index: 4;
  color: #77A7FF;
  background-color: white;
}
.comment-photo-x-cancel:hover {
  color: white;
  background-color: #77A7FF;
  cursor: pointer;
}
.comment-prof-image {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 4px;
}
.comment-body-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-like-button {
  font-size: 12px;
  color: #4267b2;
  margin-right: 3px;
}
.comment-like-button-liked {
  font-size: 12px;
  font-weight: bold;
  color: #77A7FF;
   margin-right: 3px;
}
.comment-like-button:hover,
.comment-like-button-liked:hover {
  cursor: pointer;
  text-decoration: underline;
}
.comment-like-cont {
  color: #63666b;
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  
}

.d-tri-g-c {
  width: 0;
	height: 0;
	border-top: 6px solid #282828;
	border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin: 0 40px;
}
.comment-create-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 480px;
}
.comment-edit-ta-cont {
  display: flex;
  flex-direction: column;
}
.comment-body-image-cont {
  display: flex;
  flex-direction: column;
}
.comment-photo-div {
  overflow: hidden;
  border-radius: 10px;
  margin-right: 5px;
  
}
.comment-create-main {
  display: flex;
  align-items: center;
}
.comment-photo-preview-cont {
  margin-top: 10px;
  position: relative;
}
.comment-like-counter {
  position: absolute;
  bottom: -8px;
  right: 15px;
  height: 20px;
  width: 40px;
  background: white;
  color: #63666b;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
  padding: 2px 1px 2px 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.comment-like-dropdown-cont {
  position: absolute;
  right: -25px;
  bottom: 25px;
}
.comment-footer {
  display: flex;
  color: #c4c5ccd8;
  font-size: 12px;
}
.comment-footer-time {
  margin-left: 3px;
}
.comment-like-image {
  height: 18px;
  width: 18px;
  margin-right: 3px;
}