// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.c-c {
  background-color: #f2f3f5;
  min-height: 30px;
  width: 420px;
  border: 1px solid #dddfe2;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
 
}
.ci-i-b {
  background-color: #f2f3f5;
  max-width: 400px;
  border: none;
  border-radius: 15px;
  padding: 8px 10px;
  margin: 10px;
  font-size: 13px;
}
.ci-i-c {
  width: 460px;
  margin: 10px;
  padding: 0 10px;
}
.ci-c {
  width: 500px;
  background: white;
}
.ci-nl {
  text-decoration: none;
  color: #4267b2;
  font-size: 13px;
  font-weight: 500;
  margin-right: 4px;
}
.ci-nl:hover {
  text-decoration: underline #4267b2;
}
.c-ta {
  width: 380px;
  height: 20px;
  margin: 0 auto;
  font-size: 14px;
  background: transparent;
  border: none;
  resize: none;
  outline: none;
}