// Place all the styles related to the api/friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-box-cont {
  width: 320px;
  padding: 10px;
}
.friend-box-header {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.friend-box-item-list {
  display: flex;
  flex-wrap: wrap;
}
.friend-box-item {
  width: 100px;
  margin: 3px;
}
.friend-box-title{
  display: inline-block;
  font-size: 16px;
  margin-right: 3px;
}
.friend-box-count{
  font-size: 13px;
  color: #444950;
}
.friend-icon {
  margin-right: 5px;
}
.friend-pic-wrap {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.friend-pic-name {
  text-decoration: none;
  color: #4267b2;
  font-size: 12px;
  font-weight: 500;
  // margin-right: 4px;
}
.friend-pic-name:hover {
  text-decoration: underline #4267b2;
}
.friend-pic-name-div {
  width: 90px;
}
.friend-box-index-cont {
  display: flex;
  flex-wrap: wrap;
}
.friend-button {
  height: 28px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #f5f6f7;
  padding: 3px 10px;
  display: flex; 
  align-items: center;
  position: relative;
}
.friend-button:hover {
  cursor: pointer;
  background-color: #eaebef;
}
.friend-text{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 11px;
  color: #444950;
  font-weight: bold;
}
.friend-item {
  padding: 4px 8px;
}
.friend-item:hover{
  background: #4267b2;
  color: white;
}
.friend-dropdown {
  background: white;
  color: #444950;
  border: 1px solid black;
  padding: 5px 0;
  width: 100px;
  border-radius: 2px;
  z-index: 2;
}
.friend-dropdown-cont {
  position: absolute;
  left: 0;
  bottom: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-tri-w-f {
  width: 0;
	height: 0;
	border-bottom: 6px solid white;
	border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-right: 50px;
  margin-bottom: -1px;
  z-index: 4;
}
.friend-button-wrap {
  background: transparent;
  height: 40px;
}