// Place all the styles related to the api/friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-box-cont {
  width: 320px;
  padding: 10px;
}
.friend-box-header {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.friend-box-item-list {
  display: flex;
  flex-wrap: wrap;
}
.friend-box-item {
  width: 100px;
  margin: 3px;
}
.friend-box-title{
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}
.friend-icon {
  margin-right: 7px;
}
.friend-pic-wrap {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.friend-pic-name {
  text-decoration: none;
  color: #4267b2;
  font-size: 12px;
  font-weight: 500;
  // margin-right: 4px;
}
.friend-pic-name:hover {
  text-decoration: underline #4267b2;
}
.friend-box-index-cont {
  display: flex;
  flex-wrap: wrap;
}
.friend-button {
  height: 28px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #f5f6f7;
  padding: 5px 10px;
  display: flex; 
  align-items: center;
  position: relative;
}
.friend-button:hover {
  cursor: pointer;
  background-color: #eaebef;
}
.friend-text{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 11px;
  color: #444950;
}

.friend-dropdown {
  background: white;
  color: #444950;
  border: 1px solid black;
  padding: 7px;
  width: 70px;
  border-radius: 2px;
}
.friend-dropdown-cont {
  position: absolute;
  left: 0;
  bottom: -45px;
}

.d-tri-w-f {
  width: 0;
	height: 0;
	border-top: 6px solid #282828;
	border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin: 0 15px;
}
.friend-button-wrap {
  background: transparent;
  height: 40px;
}