.nb-s {
  width: 200px;
}
.nb-sb {
  width: 400px;
  height: 20px;
  border-radius: 2px;
  border: none;
}
.nb-tc-n {
  text-decoration: none;
  color:white;
  font-size: 12px;
  border-radius: 2px;
  padding: 7px 10px;
  border-right: 1px solid #3a5ca4;
}
.nb-tc-n:hover {
  background: #3b5ca1;
}