// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.f-c{
  background-color: #eaebef;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.f-php-b{
  min-height: 120px;
  border: 1px solid #dddfe2;
  border-top: 0;
  background-color: white;
  border-radius: 0 0 2px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f-php-bot{
  height: 40px;
  border: 1px solid #dddfe2;
  border-top: none;
  background-color:#eaebef;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 2px 2px;
}
.f-php-c{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.f-php-h{
  height: 30px;
  border: 1px solid #dddfe2;
  background-color: #f5f6f7;
  border-radius: 2px 2px 0 0;
  display: flex;
  align-items: center;
}
.f-php-h-t{
  margin-left: 7px;
  font-size: 12px;
  color: #4b4f56;
  font-weight: bold;
}
.f-php-t {
  width: 480px;
  min-height: 80px;
  padding: 10px 0;
  cursor: text;
  display: flex;
}
.f-php-ta {
  padding: 10px;
  color: black;
  border: none;
  font-size: 17px;
  width: 400px;
  height: 60px;
  text-align: left;
  resize: none;
  outline: none;
}
.f-php-tx{
  padding: 15px 0 0 0;
  color: #c4c5ccd8;
  font-size: 13px;
}
.f-st{
  // margin: 0 0 0 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #eaebef;
  align-items: center;
}
.pi-b{
  word-wrap: break-word;
  margin: 5px;
  margin-bottom: 0;
  border-bottom: 1px solid #dddfe2;
  width: 470px;
  min-height: 60px;
}
.pi-c {
  background: white;
  border: 1px solid #dddfe2;
  border-radius: 2px;
  margin: 10px 0;
  padding: 0;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pi-h {
  display: flex;
  width: 480px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 5px;
}
.pi-h-d {
  color: #c4c5ccd8;
  font-size: 12px;
}
.pi-h-nl {
  text-decoration: none;
  color: #4267b2;
  font-size: 15px;
  font-weight: 500;
}
.pi-h-nl:hover {
  text-decoration: underline #4267b2;
}
.pi-hnd {
}
.pi-lc {
  border-bottom: 1px solid #dddfe2;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.pi-ntn {
  display: flex;
  align-items: center;
}


.but-p {
  background-color: #4267b2;
  border: none;
  width: 450px;
  height: 20px;
  font-size: 14px;
  color: white;
  padding: 5px, 5px;
  border-radius: 2px;
}
.opacity {
  opacity: 0.2;
}


.tri-b {
  width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-left: 6px solid #616770;
  border-bottom: 6px solid transparent;
  margin: 0 5px;
}
.post-header-name-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
}
.post-header-name{
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.post-create-button-div {
  border-top: 1px solid #dddfe2;
  width: 460px;
}
.post-like-comment{
  color: #63666b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 26px;
  font-size: 13px;
}
.post-like-comment:hover{
  background-color: #f2f2f2;
  border-radius: 2px;
  cursor: pointer;
}