// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.noselect {
  user-select: none;
}
.lnb-c {
  display: flex;
  height: 82px;
  min-width: 980px;
  background-color: #3b5998;
  justify-content: space-around;
  align-items: center;
}

.lnb-h1 {
  color: white;
  font-size: 38px;
  padding: 10px;
  margin: 17px 0 0 150px;
  font-weight: bold;
  letter-spacing: -1px;
  cursor: pointer;
}

.nb-c {
  display: flex;
  height: 42px;
  min-width: 980px;
  background-color: #4267b2;
  justify-content: space-around;
  align-items: center;
}
.link-clear {
  text-decoration: none;
}
.signup-cont {
  background-color: #eaebef;
  padding : 20px;
  min-height: 800px;
}
.bs-c {
  width: 200px;
  margin: 5px;
}
.bs-s, .gs-s {
  font-size: 13px;
  height: 30px;
  padding: 5px;
  margin-right: 1px;
  border: 1px solid #ccd0d5;
}
.fi {
  font-size: 18px;
  padding: 8px 10px;
  border-color: #bdc7d8;
  border-radius: 5px;
  border: 1px solid #ccd0d5;
  margin: 5px 5px 5px 0;
  width: 377px;
}
.fi-fn {
  width: 172px;
}
.fi-ln {
  width: 172px;
  margin: 0 0 0 6px;
}
.gs-s {
  width: 399px;
}
.li-b, .li-bd {
  background-color:#4267b2;
  border: 1px solid #29487d;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  height: 24px;
  margin: 11px 0 0 5px;
  width: 65px;
  outline: none;
}
.li-bd {
  width: 110px;
}
.li-c{
  margin-left: 50px;
  width: 600px;
  justify-content: flex-end;
}
.li-err{
  
  height: 30px;
  width: 150px;
  margin: 12px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.li-err-d{
  background-color: #BE4B49;
  box-shadow:0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
  font-size: 12px;
  color: white;
  border-radius: 3px;
  display: inline-block;
  padding: 10px;
}
.li-f {
  display: flex;
  align-items: center;
}
.li-fi {
  margin: 5px;
  border: 1px black solid;
  height: 20px;
  width: 150px;
}
.li-l {
  margin-left: 5px;
  font-size: 12px;
  color: white;
}
.lo {
  margin: 0;
  width: 65px;
}
.signup-cont {
  display: flex;
  justify-content: center;
}
.su-h2 {
  font-size: 36px;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
}
.su-h3 {
  font-size: 28px;
  display: inline-block;
  font-weight: 500;
  width: 460px;
  padding: 40px 0 20px 0;
}
.su-d {
  margin: 10px 0 20px 0;
  font-size: 19px;
  font-weight: 100;
}
.su-g {
  display: flex;
  margin-bottom: 15px;
}
.su-g-cd {
 margin-bottom: 15px;
}
.nodisp {
  display: none !important;
}
.invis {
  visibility: hidden;
}
.red-bord {
  border: 1px solid red !important;
}
.su-g-r-m, .su-g-r-f, .su-g-r-c {
  margin-right: 15px;
  border-radius: 5px;
  padding: 5px;
}
.su-g-r>input {
  margin-right: 5px;
}
.su-l {
  color: #90949c;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}
.su-l-d {
  margin: 40px 0px;
  display: flex;
  align-items: center;
}
.su-l-bt {
  font-size: 17px;
  color: black;
  font-weight: 700px;
  letter-spacing: -1px;
}
.su-l-nt {
  font-size: 15px;
  color: #666666;
  margin-left: 3px;
}
.su-left {
  display: block;
  margin: 0 150px 0 30px;
}
.su-sl {
  font-size: 12px;
  margin: 5px 0 5px 0;
  color: #606770;
}
.tri-r {
  width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid #BE4B49;
  border-bottom: 5px solid transparent;
 
}
.fb-gb {
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border-radius: 5px;
}

.fb-gb-su {
  font-size: 18px;
  color: white;
  font-weight: 700;
  text-shadow: 0 1px 2px #606770;
  padding: 10px 20px;
  width: 200px;
}
