// Place all the styles related to the api/walls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prof-cont {
  background-color: #eaebef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wall-header {
  height: 353px;
  width: 850px;
  background: white;
  position: relative;
}
.wall-main {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  width: 850px;
}
.wall-sidebar {
  width: 320px;
  height: 320px;
  background: white;
  border: 1px solid #dddfe2;
  border-radius: 2px; 
}

.wall-cont{
  background-color: #eaebef;
  min-height: 100vh;
  display: flex;
}
.wall-cover-p {
  width: 850px;
  height: 310px;
  background: linear-gradient(rgba(0,0,0,0) 71%, rgba(0,0,0, .53));
  border: 1px solid #dddfe2;
  border-top: none;
  position: relative;
  background-position-x: 50%;
  background-position-y: 20%;
}
.wall-cover-p-update {
  display: flex;
  align-items: center;
  padding: 2px 5px;
  position: absolute;
  top: 15px;
  left: 20px;
  width: 160px;
}
.wall-cover-p-update:hover {
  border: 1px solid white;
  background: #2f2a24;
  color: white;
  font-size: 12px;
  cursor: pointer;
}
.wall-cover-p-text {
  margin-left: 15px;
}
.wall-cover-pic {
  width: 100%;
  height: 100%;
}
.wall-header-bar {
  width: 850px;
  height: 43px;
  border: 1px solid #dddfe2;
  border-radius: 0 0 2px 2px; 
  background: white;
}
.wall-name {
  position:absolute;
  width:400px;
  bottom: 15px;
  left: 200px;
  font-size: 22px;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

.profile-pic-cont{
  height: 162px;
  width: 162px;
  border-radius: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #dddfe2;
  position: absolute;
  left: 2%;
  bottom: -8%;
}
.profile-circle {
  height: 156px;
  width: 156px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}
.profile-pic {
  width: 100%;
  height: 100%;
}
.profile-p-update {
  width: 156px;
  height: 100px;
  background: black;
  position: absolute;
  left: 0px;
  bottom: -20px;
  z-index: 4;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.profile-p-update:hover {
  opacity: 0.7;
  cursor: pointer;
}
.friend-button {
  border: 1px solid black;
  position: absolute;
  bottom: 15px;
  right: 20%;
  height: 20px;
  background: #f5f6f8;
}
.prof-p-camera {
  margin-top: 30px;
  height: 20px;
  width: 20px;
}
.prof-p-text {
  color: white;
  font-size: 12px;
}
.prof-pic-edit-cont {

  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prof-pic-edit-h {
  width: 380px;
  background: #f5f6f8;
  border: 1px solid #dddfe2;
  border-radius: 3px 3px 0 0;
  padding: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prof-pic-edit-b {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  border: 1px solid #dddfe2;
  border-top: none;
}
.prof-pic-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  padding: 20px 40px;
  cursor: pointer;
  color: #4c4f54;
}
.prof-pic-button:hover {
  background: #f5f6f8;
}
.prof-pic-edit-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #f5f6f8;
  border: 1px solid #dddfe2;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  width: 400px;
  height: 30px;
}
.prof-pic-button-cont {
  display: flex;
}
.prof-pic-cancel {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #4b4f56;
  background: #F5F6F7;
  padding: 0 8px;
  height: 22px;
  border: 1px solid #dddfe2;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
}
.prof-pic-submit {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: white;
  background: #4368b3;
  padding: 0 8px;
  height: 22px;
  margin: 0 10px 0 4px;
  border: 1px solid #4b67a1;
  border-radius: 2px;
  cursor: pointer;
}
.x-cancel {
  color: #90949d;
  font-size: 14px;
  cursor: pointer;
}