/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset
 *= require api/sessions
 *= require_tree .
 *= require_self
 */

 body {
  font-family: "Lucida Grande";
}

.modal-b {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(66, 66, 66, 0.7);
  z-index: 10;
}
.modal-c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  max-width: 100%;
  max-height: 100%;
}
.g-o-b {
  height: 15px;
  width: 15px;
  background-size: 100% 100%;
  background-image: url('/gray_options.png');
}
.g-o-b:hover{
  background-image: url('/black_options.png');
}
.g-o-p:active{
   background-image: url('/black_options.png');
}
.post-dd {
  position: relative;
}
.post-dd-c {
  /* display: none; */
  position: absolute;
  /* float: right; */
  right: 0;
  top: 18px;
  min-width: 150px;
  min-height: 50px;
  border: 1px solid #dddfe2;
  border-radius: 2px;
  z-index: 2;
  background-color: white;
  box-shadow: 0 1px 1px 1px #ccd0d5;
}
.post-dd-i {
  background: white;
  padding: 8px;
  font-size: 12px;
}
.post-dd-i:hover {
  background-color: #4267b2;
  color: white;
}
.show {
  display: block;
}