// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.file-submit-button {
  display: none;
}
.file-submit-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f3f5;
  height: 30px;
  width: 130px;
  border: 1px solid #dddfe2;
  border-radius: 15px;
  font-size: 14px;
  color: #4b4e53;
  // #f6f7f9
  margin: 10px;
}
.file-submit-overlay:hover {
  cursor: pointer;
  background-color: #e1e1e1;
}
.file-submit-pic{
  height: 20px;
  width: 20px;
  margin-top: 2px;
  margin-right: 3px;
}
.post-footer-cont{
  background: white;
  padding: 10px;
  border: 0 1px solid #dddfe2;
}
.photo-preview-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 480px;
  padding: 5px;
}
.photo-preview{
  width: auto;
  height: 100px;
}
.photo-preview-wrap {
  display: inline-block;
  position: relative;
  width: auto;
  height: 100px;
  background:white;
}
// .photo-preview-wrap:after {
//   background:rgba(0, 0, 0, 0.75);
// }
// .photo-preview-wrap:after:hover {
//   content: "";
//   width: 50%;
//   height: auto;
//   position: absolute;
//   background:rgba(0,0,0,0.6);
//   opacity: 0.5;
//   transition: all 1s;
//   -webkit-transition: all 1s;
// }

.photo-x-cancel {
  position: absolute;
  right: 5px;
  color: #b8babd;
  opacity: 1;
}
.photo-x-cancel:hover {
  color: white;
  cursor: pointer;
}
.post-form-cont {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 12;
  border-radius: 4px;
}

.post-prof-image {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 5px;
  overflow: hidden;
}
